<strong>Olá, {{ deliveryman }}</strong>
<p>Uma encomenda sua foi cancelada, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Razão do cancelamento: </strong> {{ description }} <br />

  <br />
  <small>
    Aguarde o próximo agendamento de encomenda.
  </small>
</p>
